
.icon-github-squared:before { content: '\e800'; } /* '' */
.icon-linkedin-squared:before { content: '\e801'; } /* '' */
.icon-facebook-squared:before { content: '\e802'; } /* '' */
.icon-pinterest-squared:before { content: '\e803'; } /* '' */
.icon-youtube-squared:before { content: '\e804'; } /* '' */
.icon-tumblr-squared:before { content: '\e805'; } /* '' */
.icon-whatsapp:before { content: '\e806'; } /* '' */
.icon-vimeo-squared:before { content: '\e807'; } /* '' */
.icon-twitter-squared:before { content: '\e808'; } /* '' */
.icon-twitch:before { content: '\e809'; } /* '' */
.icon-behance-squared:before { content: '\e80a'; } /* '' */
.icon-instagram:before { content: '\e80b'; } /* '' */
.icon-infojobs:before { content: '\e80c'; } /* '' */
.icon-gplus-squared:before { content: '\e80d'; } /* '' */
.icon-delicious:before { content: '\e80e'; } /* '' */
.icon-reddit-squared:before { content: '\e80f'; } /* '' */